<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>-->
  </configSections>
    <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <!--<httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>-->
  </system.web>
  <connectionStrings>
    <add name="con" connectionString="Data Source=sql7002.site4now.net;Initial Catalog=DB_A40CCD_gurukulapi;Persist Security Info=True;user id=DB_A40CCD_gurukulapi_admin;password=Yora@123;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>